## Code Practice 2 - Davina Francki

**Question 1:** Does this code run without error? If so, what does it produce?

In [1]:
x = [1, 2, 3]
y = 'bootcamp'
z = x + y

TypeError: can only concatenate list (not "str") to list

This code produces an error because the third line tries to add x, which is a list, and y, which is a string. You cannot add the two together.

**Question 2:** For the same x and y as the previous question: What function tells us what type they are? What function tells us how many elements they contain?

In [2]:
type(x)

list

In [3]:
type(y)

str

In [4]:
len(x)

3

In [5]:
len(y)

8

The type function tells us the type, and the length function tells us how many elements each contains.

**Question 3:** What type is each expression? How can you tell?

In [6]:
type(2) # 2 is an integer

int

In [7]:
type("2") # "2" is a string, identifiable by the quotations

str

In [8]:
type(2.0) # 2.0 is a floating point number as it has a decimal

float

In [9]:
type("2.0") # "2.0" is a string due to the quotation marks

str

In [10]:
type(2>1) # 2 > 1  is a boolean as it checks whether the statement is true or false.

bool

In [11]:
type('Itamar'>'Chase') # This is a boolean as it includes >

bool

In [12]:
type([1,2]) # This is a list, shown by the square brackets

list

In [13]:
type((1,2)) # This is a tuple due to the round brackets

tuple

In [14]:
type({1: 'one', 2: 'two'}) # This is a dictionary due to the curley brackets

dict

**Question 4:** What value does each of these comparisons have?

In [15]:
1>=0 # This is true as 1 is greater than or equal to 0

True

In [16]:
1 >= 1 # This is true as 1 is greater than or equal to 1

True

In [17]:
1 > 1 # This is false as 1 is not greater than 1

False

In [18]:
1==1 # This is true as 1 equals itself

True

In [19]:
1 == 1.0 # This is true as 1 equals itself

True

In [20]:
'Spencer' == "Spencer" # This is true as the string 'Spencer' is the same as "Spencer"

True

In [21]:
2**3 > 3**2 # This is false as 8 is not greater than 9

False

In [22]:
1 >= 0 or 1 <= 2 # This is true as 1 is between 0 and 2

True

In [23]:
1 >= 0 and 1 <= 2 # This is true as 1 is both less than 2 and greater than 0

True

**Question 5:** Does this code run without error? If so, what does it produce? If not, how would you fix it?

In [24]:
if 2>1
    print('Yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-24-07a70d6c9420>, line 1)

This code runs with error because an if statement requires a colon after the first line. It would have to be

if 2>1:
    
    print('Yes, 2 is still greater than 1')

**Question 6:** What is the result of running this code? Why?

In [25]:
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

It prints the true statement. The program does not state what needs to be true in order for 'on the one hand' to print so the program prints the true statement.

In [26]:
if False:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

If we replace True with False, the if-then statement will print the other option. The else option is the True option in this case.

In [27]:
if not True:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

Not True is the same as False, so it will print the same result

**Question 7:** What is the result of running this code?

In [28]:
cond = True
if cond:
    x = "Chase"
else:
    x = "Dave"
print(x)

Chase

This codes prints Chase. The first line assigns the value True to cond. The conditional statement then instructs that if cond is true, which it is due to the assignment in line 1, then x is Chase. If cond is not true x is Dave. Since cond is True it prints Chase.

**Question 8:** Suppose we have two lists, x = [1, 2, 3, 4] and y = ['x', 'y', 'z']. Adapt the code below to determine which has more elements:

In [29]:
x = [1, 2, 3, 4]
y = ['x', 'y', 'z']

In [30]:
if len(x) > len(y):
    print('x has more')
else:
    print("y has at least as many")

x has more

**Question 9:** Explain in words what slicing does.

Slicing allows you to access a certain element or multiple elements from a string or list. It extracts the indicated item from a string or list and displays it for you.

**Question 10:** How would you extract the first element from the list x below? The last element? All but the last element?

In [31]:
x = [1, 2, 3, 4, 5]

In [32]:
x[0] # 1 is the zeroth element in list x, so you put 0 between the brackets.

1

In [33]:
x[-1] # -1 is always assigned to the last element.

5

In [34]:
x[:-1] # The colon indicates that everything up to, but not including, the last element should be sliced.

[1, 2, 3, 4]

**Question 11:** Use slicing to extract each word from

sentence = 'This is a sentence; please slice it.'

In [35]:
sentence = 'This is a sentence; please slice it.'

In [39]:
sentence[0:4]

'This'

In [41]:
sentence[5:7]

'is'

In [43]:
sentence[8]

'a'

In [45]:
sentence[10:18]

'sentence'

In [47]:
sentence[20:26]

'please'

In [48]:
sentence[27:32]

'slice'

In [50]:
sentence[33:35]

'it'

**Question 12:** Consider the list

x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

a. How would you slice out the first item? The last item?

In [51]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

In [52]:
x[0] # 0 is assigned to the first item

1

In [53]:
x[-1] # -1 is assigned to the last item

10

b. How would you slice out the items from 'b' to 3 inclusive?

In [54]:
x[3:7] # b is the third term and 3 is the sixth, so to be inclusive it must be 3 to 7

['b', 'fast', 'slow', 3]

**Question 13:** Using the same list x, write a loop that prints every element on a new line.

In [55]:
for item in x:
    
    print(item)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

**Question 14:** Using the same list x, write a loop that prints every element of type str.

In [61]:
for item in x:
    
    if type(item) == str:
        
        print(item)

a
b
fast
slow
Raghu
Liuren

**Question 15:** Use Syder's help to find out what the range function does. How would you describe range(3,12,2)? Verify by converting to a list with list(range(3,12,2)).

In [62]:
range? # range returns an object that produces a sequence of integers from start to stop by step.

In [63]:
range(3,12,2)

range(3, 12, 2)

This range gives every other number between 3 and 12, starting with 3

In [64]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

**Question 16:** Write a loop that sums the integers from zero to thirty that are multiples of 3.

In [70]:
total = 0

for number in range(0,31,3):
    
    total = total + number
    
    print(total)

0
3
9
18
30
45
63
84
108
135
165

**Question 17:** Define a function pocket_change( ) that takes four integers as inputs (numbers of pennies, nickels, dimes, and quarters in your pocket) and returns a floating point number (their dollar value). Run your program with the input (1, 2, 3, 4). Bonus (optional): Report the value with a dollar sign.

In [2]:
def pocket_change(p, n, d, q):
    
    return p/100, (n*5)/100, (d*10)/100, (q*25)/100

In [8]:
pocket_change(1, 2, 3, 4)

(0.01, 0.1, 0.3, 1.0)

**Question 18:** Write a function notsix( ) that takes a list of integers and returns a (shorter) list of only those that do not begin with a 6. Test it on the list [1234, 6783, 6, 4321, 9876].

In [96]:
def notsix(intlist):
    
    x = []
    
    for item in intlist:
        
        intstr = str(item)
        
        if intstr[0] != '6':
            
            x.append(item)
    
    return x

In [97]:
notsix([1234, 6783, 6, 4321, 9876])

[1234, 4321, 9876]

**Question 19:** Explain what this code does

In [98]:
old_list = [1234, 6783, 6, 4321, 9867]
new_list = [x for x in old_list if str(x)[0] != "6"]

This code replicates the function notsix( ) created in question 18. If an item (x) in the old list starts with 6 then it will not be printed in the new list. To check, x is converted to a string and the first value is pulled out and compared to "6".

**Question 20:** Consider the Python object

z = {1: 'one', 2: 'two', 3: 'three'}

In [99]:
z = {1: 'one', 2: 'two', 3: 'three'}

a. What kind of object is z? What is its length?

In [100]:
type(z) # z is a dictionary, indicated by the curly brackets

dict

In [101]:
len(z)

3

b. Which components are keys? Which are values?

1, 2, and 3 are keys. 'one', 'two' and 'three' are values.

c. How would I get the value associated with the key 2?

In [102]:
z[2]

'two'

d. Use Spyder's help facilities to figure out what z.keys() does. Ditto z.values(). Try them to verify

In [103]:
z.keys? # It shows the keys in dictionary z

In [107]:
z.keys()

dict_keys([1, 2, 3])

In [106]:
z.values? # It shows the values in dictionary z

In [108]:
z.values()

dict_values(['one', 'two', 'three'])

e. What does list(z.keys()) do?

In [109]:
list(z.keys())

[1, 2, 3]

It creates a list out of the keys of dictionary z.

f. What does list(z.values()) do?

In [110]:
list(z.values())

['one', 'two', 'three']

It creates a list out of the values of dictionary z.

g. What does list(z) do?

In [111]:
list(z)

[1, 2, 3]

It creates a list out of the keys of z.