### Code Practice 1 - Davina Francki

**Question 1:** Describe and explain what each of these expressions produces in basic Python:

In [1]:
2+5 # This is addition.

7

In [2]:
2 + 5 # This is also addition but with more white space.

7

In [3]:
2*5 # This is multiplication.

10

In [4]:
2/5 # This is division.

0.4

In [5]:
2**5 # This is raising 2 to the power of 5.

32

**Question 2:** What is the value of x after running these statements in order? Why?

In [6]:
x = 7
x = x + 3
x

10

x should be 10. The first line assigns x the value of 7. The next line computes the expression to the right of the equals sign (x+3, which is 7+3) and assigns the new value to the left side, which is x. Therefore, x should be 10 as 3+7=10.

**Question 3:** What is the value of y after running these statements in order? Of x? Why?

In [7]:
x = 3
y = x
x = 10
print(x, y)

10 3

y should be 3. The first line assigns the value of 3 to x, and the next line assigns the value of x (which is 3) to y, so y is 3. 
x should be 10 as the third line assigns the value of 10 to x.

**Question 4:** Does this code run without error? If so, what does it produce? If not, explain why.

In [8]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

Yes, this code runs without error and produces 1.5 and abcabc. The first two lines simply assign x the value of 1.5. The third line assigns y the string 'abc' while the fourth line assigns z the sum of y + y. This addition is possible as it is adding two strings to produce abcabc.

**Question 5:** Does this code run without error? If so, what does it produce? If not, explain why.

In [9]:
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

This code runs with an error. While the first three lines function properly in assigning x the value of 1.5 and y the value of 1.5, line four tries to add two different types of objects (a floating point number and a string). It is not possible to add these together, so no value for z is produced, resulting in the error.

**Question 6:** Does this code run without error? If so, what does it produce? If not, explain why.

In [10]:
x = 3
y = 24
z = y / x
print(x, y, z, sep='|')

3|24|8.0

Yes, this code runs without error. Each line assigns an integer value to the variables. Using the print function gives each value assigned, which in this case are also separated by a bar.

**Question 7:** Does this code run without error? If so, what does it produce? If not, explain why.

In [1]:
x = 3
y = '24'
z = y / x
print(x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

This code does run with an error. x has been assigned an integer value of 3 while y has been assigned the string of '24'. Python cannot divide a string by an integer, as writtern out in line three. Therefore, z does not have a value and the error occurs.

**Question 8:** Does this code run without error? If so, what does it produce? If not, explain why.

In [2]:
x = "I am a #string" # Whoa, a string!

Yes, this code runs without error. It assigns the string "I am a #string" to x, and has the comment Whoa, a string! after.

**Question 9:** Does this code run without error? If so, what does it produce? If not, explain why.

In [3]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print (z)

[1, 2, 3, 42, 43]

Yes, this code runs without error. The first line assigns the list [1, 2, 3], denoted with brackets, to x, and the second line assigns the list [42, 43] to y. The third line assigns the addition of these two lists to z. The addition of two lists results in a combination of the two.

**Question 10:** Does this code run without error? If so, what does it produce? If not, explain why.

In [4]:
x = [1, 2, 3]
y = 42
z = x + y
print(z)

TypeError: can only concatenate list (not "int") to list

This code runs with error as the third line attempts to combine a list and an integer. This addition is not possible, so there is no set value for z, which creates the error.

**Question 11:** What "types" are:

In [6]:
x1 = 12 # x1 is being assigned a value of 12, which is an integer.
type(x1)

int

In [7]:
x2 = 12.0 # x2 is being assigned a value of 12.0, which, due to the decimal, is a floating point number.
type(x2)

float

In [8]:
x3 = '12.0' # x3 is being assigned the string of 12.0, which is identified by the surrounding quotation marks.
type(x3)

str

In [9]:
x4 = [12] # x4 is being assigned the list of 12, denoted by the brackets.
type(x4)

list

In [10]:
x5 = [12, 12.0, '12.0'] # x5 is being assigned a list, again denoted by brackets.
type(x5)

list

**Question 12:** Explain the result of each line:

In [1]:
type(42) # The function type determines the type of the object. In this case 42 is an integer

int

In [2]:
type(42.0) # 42.0 is a floating point number due to the decimal.

float

In [3]:
type('42.0') # '42.0' is a string, identified by the quotations.

str

In [4]:
type("42.0") # "42.0" is also a string, again identified by the quotation marks.

str

In [5]:
type("""42.0""") # This is again a string due to the quotations.

str

In [6]:
type([1, 2]) # This is a list, denoted by the brackets.

list

In [7]:
type([1] + [2]) # This shows the addition of two one-number lists, whose sum is another list.

list

In [8]:
type(1 + 2) # This shows the addition of two integers, which results in another integer.

int

In [9]:
type(print) # Print is a built-in function in Python.

builtin_function_or_method

**Question 13:** Describe and explain the result of this statement:

In [10]:
type(float(str(int('1234'))))

float

This statement first changes the string '1234' into an integer using the int function. Then the integer 1234 is converted back into a string with the str function. This string is then converted into the floating point number 1234.0 by the float function. The type function then identifies this final result as a float.

**Question 14:** Describe and explain the result of this statement:

In [11]:
type(int(float('12.34')))

int

This statement first changes the string '12.34' into the floating point number 12.34 using the float function. Then the int function changes 12.34 into the integer 12. Finally, the type function identifies 12 as an integer.

**Question 15:** Explain each line:

In [12]:
len([1234]) # The len function measures the length of an object. In this case it is measuring the length of a list with one term, which is just one.

1

In [13]:
len("1234") # The length of this string is four characters.

4

In [14]:
len(1234) # The length function cannot measure the length of numbers.

TypeError: object of type 'int' has no len()

**Question 16:** What are the type and length of x = []?

In [15]:
x = []

In [16]:
type(x) # x has been assigned the value of the empty list set, identified by brackets.

list

In [18]:
len(x) # The list has no terms, and therefore has a length of 0.

0

**Question 17:** Convert the string x = 'abcde' to a list. What does it look like?

In [19]:
x = 'abcde'

In [20]:
list(x)

['a', 'b', 'c', 'd', 'e']

First you assign the string 'abcde' to x. Then use the list function to convert the string into a list. The list separates out each individual letter as its own string within the list.

**Question 18:** Consider the integer x = 1234.

**18a.** Convert x to a floating point number.

In [21]:
x = 1234

In [23]:
float(x) # Use the float function for the conversion.

1234.0

**18b.** Convert x to a string.

In [24]:
str(x) # Use the string function for the conversion.

'1234'

**18c.** Convert x to the list ['1', '2', '3', '4']

In [26]:
list(str(x)) # First convert x into a string and then convert the string into the list.

['1', '2', '3', '4']

**Question 19:** How would you convert x to "title case"?

x = "luke, i am your father"

In [27]:
x = "luke, i am your father"

In [28]:
x.title()

'Luke, I Am Your Father'

To convert x to "title case" you first assign the string to x. Then you type x. and press the tab key to see the potential methods. The title method capitalizes each first letter.

**Question 20:** Consider the string

x = "How many characters and words are in this string?"

**20a.** How many characters does x contain?

In [30]:
x = "How many characters and words are in this string?"

In [31]:
len(x)

49

You can use the length function to determine the number of characters in the string.

**20b.** Convert x to a list of individual characters.

In [32]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

You can use the list function to create a list of individual characters.

**20c.** Convert x to a list of individual words.

In [33]:
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

You can use the split function to create a list of individual words.

**20d.** How many words does x contain?

In [34]:
len(x.split())

9

To determine the number of words, you must first convert x into a list of individual words. The length function can then measure the length of the list, which is 9.

**Question 21:** Approximately how long did this assignment take you?

*See GitHub